@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Connection Error</title>
    <script type="text/javascript">
        // JavaScript to show a popup message and then redirect to the login page
        window.onload = function () {
            alert("We are currently unable to connect to the server. You will be redirected to the login page.");
            window.location.href = '/Login/Index';
        };
    </script>
</head>
<body>
</body>
</html>
