################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/IOT_UI/bin/Debug/net8.0
/IOT_UI/obj
