@model IOT_UI.Models.DigitalService

<h4>Add Notification User</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DigitalServiceID" />
            <input type="hidden" asp-for="CustomerID" />

            <div class="form-group">
                <label asp-for="NotificationUsers" class="control-label">Select Users</label>
                <select asp-for="NotificationUsers" class="form-control" multiple>
                    @foreach (var user in Model.Users)
                    {
                        <option value="@user.UserID">@user.Email</option>
                    }
                </select>
                <span asp-validation-for="NotificationUsers" class="text-danger"></span>
            </div>

            <div class="form-group mt-3">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-digitalServiceId="@Model.DigitalServiceID">Back to List</a>
</div>
