@model IEnumerable<string>

@{
    ViewData["Title"] = "Notification User List";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var digitalServiceId = ViewBag.DigitalServiceId;
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Notification Users</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user</td>
                @* <td>
                    @Html.ActionLink("Edit", "Edit", new { id = digitalServiceId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = digitalServiceId })
                </td> *@
            </tr>
        }
    </tbody>
</table>
