@model IOT_UI.Models.Site

@{
    ViewData["Title"] = "Create Site";
}

<h4>Create Site</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <!-- Hidden field for CustomerID -->
            <input type="hidden" asp-for="CustomerID" />

            <div class="form-group">
                <label asp-for="SiteName" class="control-label"></label>
                <input asp-for="SiteName" class="form-control" />
                <span asp-validation-for="SiteName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SiteLocation" class="control-label"></label>
                <input asp-for="SiteLocation" class="form-control" />
                <span asp-validation-for="SiteLocation" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Latitude" class="control-label"></label>
                <input asp-for="Latitude" class="form-control" />
                <span asp-validation-for="Latitude" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Longitude" class="control-label"></label>
                <input asp-for="Longitude" class="form-control" />
                <span asp-validation-for="Longitude" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-customerId="@Model.CustomerID">Back to List</a>
</div>
