@model IOT_UI.Models.Site

@{
    ViewData["Title"] = "Edit Site";
    var customerId = ViewBag.CustomerId as Guid?;
}

<h4>Update Site</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SiteID" />
            <input type="hidden" name="customerId" value="@customerId" />

            <div class="form-group">
                <label asp-for="SiteName" class="control-label"></label>
                <input asp-for="SiteName" class="form-control" />
                <span asp-validation-for="SiteName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SiteLocation" class="control-label"></label>
                <input asp-for="SiteLocation" class="form-control" />
                <span asp-validation-for="SiteLocation" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Latitude" class="control-label"></label>
                <input asp-for="Latitude" class="form-control" />
                <span asp-validation-for="Latitude" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Longitude" class="control-label"></label>
                <input asp-for="Longitude" class="form-control" />
                <span asp-validation-for="Longitude" class="text-danger"></span>
            </div>

            <div class="form-group mt-3">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-customerId="@customerId">Back to List</a>
</div>
