@model IOT_UI.Models.ProductTypeViewModel

<h4>Product Type</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="ProductTypeName" class="control-label"></label>
                <input asp-for="ProductTypeName" class="form-control" />
                <span asp-validation-for="ProductTypeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinVal" class="control-label"></label>
                <input asp-for="MinVal" class="form-control" />
                <span asp-validation-for="MinVal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxVal" class="control-label"></label>
                <input asp-for="MaxVal" class="form-control" />
                <span asp-validation-for="MaxVal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UOM" class="control-label"></label>
                <input asp-for="UOM" class="form-control" />
                <span asp-validation-for="UOM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

