@model IOT_UI.Models.DigitalService

<h4>Digital Service</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CustomerID" />

            <div class="form-group">
                <label asp-for="ServiceStartDate" class="control-label"></label>
                <input asp-for="ServiceStartDate" class="form-control" />
                <span asp-validation-for="ServiceStartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServiceEndDate" class="control-label"></label>
                <input asp-for="ServiceEndDate" class="form-control" />
                <span asp-validation-for="ServiceEndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-customerId="@Model.CustomerID">Back to List</a>
</div>

